{{- if .Values.config.secretEnv.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "palworld.secret.name" . }}
  namespace: {{ .Release.Namespace }}
  labels: 
    {{- include "palworld.labels" . | nindent 4 }}
type: Opaque
data:
  {{- range $key, $value := .Values.config.secretEnv.env }}
  {{ $key }}: {{ $value | toString | b64enc | quote }}
  {{- end }}
{{- end }}